<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true">
    <testsuites>
        <testsuite name="Core">
            <directory>packages/core/tests</directory>
        </testsuite>
        <testsuite name="HttpRpc">
            <directory>packages/http-rpc/tests</directory>
        </testsuite>
        <testsuite name="RedisEventStream">
            <directory>packages/redis-event-stream/tests</directory>
        </testsuite>
        <testsuite name="QueueEventStream">
            <directory>packages/queue-event-stream/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>packages/core/src</directory>
            <directory>packages/http-rpc/src</directory>
            <directory>packages/redis-event-stream/src</directory>
            <directory>packages/queue-event-stream/src</directory>
        </include>
    </source>
</phpunit>
